<%- include('../partials/header') %>

<h1><%= title %></h1>

<form action="/flights/<%= flightId %>/tickets" method="post" class="add-flight-form">
  <label for="seat">Seat</label>
  <input type="text" name="seat" id="seat" required pattern="[A-F][1-9]\d?">
  <label for="price">Price</label>
  <input type="number" name="price" id="price" required>
  <button type="submit">Add Ticket</button>
</form>

<% if (typeof message !== 'undefined') { %>
  <%- `<div class='error'>${message}</div>`; %>
<% } %>

<%- include('../partials/footer') %>
