<%- include('../partials/header') %>

<h1><%= title %></h1>

<% if (flights.length) { %>
<div class="flights-container">
<% flights.sort((a, b) => a.departs - b.departs) %>
  <% flights.forEach(flight => { %>
  <table class="flight">
    <tr><td>Airline</td><td><%= flight.airline %></td>
    <tr><td>Airport</td><td><%= flight.airport %></td>
    <tr><td>Flight Number</td><td><%= flight.flightNo %></td>
    <tr><td>Departs At</td>
      <td <% if (flight.isLate()) { %> <%- 'class="departs-in-past"' %> <% } %>>
        <%= flight.departs.toISOString().slice(0, 16).replace('T', ' ') %>
      </td>
      <tr><td><a href="/flights/<%= flight.id %>">Details</a><td></tr>
  </table>
  <% }) %>
</div>
<% } else { %>
<p>No flights found...</p>
<% } %>


<%- include('../partials/footer') %>
