<%- include('../partials/header') %>

<h1><%= title %></h1>

<% if (flights.length) { %>
  <% flights.forEach(flight => { %>
  <table class="flight">
    <tr><td>Airline</td><td><%= flight.airline %></td>
    <tr><td>Airport</td><td><%= flight.airport %></td>
    <tr><td>Flight Number</td><td><%= flight.flightNo %></td>
    <tr><td>Departs At</td><td><%= flight.departs %></td>
  </table>
  <% }) %>
<% } else { %>
<p>No flights found...</p>
<% } %>


<%- include('../partials/footer') %>
