<%- include('../partials/header') %>

<h1><%= title %></h1>

<form action="/flights" method="post" class="add-flight-form">
  <label for="airline">Airline:</label>
  <select name="airline" id="airline" required>
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <label for="airport">Airport:</label>
  <select name="airport" id="airport" required>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label for="flightNo">Flight Number:</label>
  <input type="number" name="flightNo" id="flightNo" min="10" max="9999" required/>
  <label for="departs">Departure:</label>
  <input type="datetime-local" name="departs" id="departs" value="<%= defaultDeparts %>" required/>
  <button type="submit">Add Flight</button>
</form>

<% if (typeof message !== 'undefined') { %>
  <%- `<div class='error'>${message}</div>`; %>
<% } %>

<%- include('../partials/footer') %>
