<%- include('../partials/header') %>

<h1><%= title %></h1>

<% if (typeof flight !== 'undefined' && flight !== null) { %>
  <table class="flight">
    <tr><td>Airline</td><td><%= flight.airline %></td>
    <tr><td>Airport</td><td><%= flight.airport %></td>
    <tr><td>Flight Number</td><td><%= flight.flightNo %></td>
    <tr><td>Departs At</td>
      <td <% if (flight.isLate()) { %> <%- 'class="departs-in-past"' %> <% } %>>
        <%= flight.departs.toISOString().slice(0, 16).replace('T', ' ') %>
      </td>

    <% if (typeof flight.destinations !== 'undefined' &&
           flight.destinations.length) { %>
      <%-` <tr> <td>Destinations</td> <td>`%>
        <% flight.destinations.forEach(destination => { %>
          <%= destination.airport %>
          <% if (destination.arrival) { %>
            at
            <%= destination.arrival %>
          <% } %>
          <br>
        <% }); %>
      <%- `</td></tr>` %>
    <% } %>

    <tr>
      <form action="/flights/<%= flight.id %>?_method=PATCH" method="post">
      <td>
        <select name="airport" id="airport" required>
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
        <input type="datetime-local" name="arrival" id="arrival"/>
      </td>
      <td>
        <button type="submit">Add Destination</button>
      </td>
      </form>
    </tr>

  </table>
<% } else { %>
  <p>Flight not found...</p>
<% } %>


<%- include('../partials/footer') %>
