<%- include('../partials/header') %>

<h1><%= title %></h1>

<% if (typeof flight !== 'undefined' && flight !== null) { %>
  <table class="flight">
    <tr><td>Airline</td><td><%= flight.airline %></td>
    <tr><td>Airport</td><td><%= flight.airport %></td>
    <tr><td>Flight Number</td><td><%= flight.flightNo %></td>
    <tr><td>Departs At</td>
      <td <% if (flight.isLate()) { %> <%- 'class="departs-in-past"' %> <% } %>>
        <%= flight.departs.toISOString().slice(0, 16).replace('T', ' ') %>
      </td>

    <% if (typeof flight.destinations !== 'undefined' &&
           flight.destinations.length) { %>
      <%-` <tr> <td>Destinations</td> <td>`%>
        <% flight.destinations.forEach(destination => { %>
          <%= destination.airport %>
          <% if (destination.arrival) { %>
            at
            <%= destination.arrival.toISOString() %>
          <% } %>
          <br>
        <% }); %>
      <%- `</td></tr>` %>
    <% } %>

    <% if (tickets.length) { %>
      <%-` <tr><td>Tickets</td> <td>`%>
        <% tickets.forEach(ticket => { %>
          <%= ticket.seat %> for
          <%= ticket.price %>
          <form action="/tickets/<%= ticket.id %>?_method=DELETE" method="post"
            class="ticket-delete-form">
            <button type="submit">X</button>
          </form>
          <br>
        <% }); %>
      </td></tr>
    <% } %>
  </table>

  <form action="/flights/<%= flight.id %>?_method=PATCH" method="post">
    <button type="submit">Add Destination</button>
    <select name="airport" id="airport" required>
    <% airports.forEach(airport => { %>
    <% if (flight.destinations.findIndex(d => d.airport == airport) === -1) { %>
        <option value="<%= airport %>"><%= airport %></option>
      <% } %>
    <% }); %>
    </select>
    <input type="datetime-local" name="arrival" id="arrival"
           value="<%= defaultDeparts %>" />
  </form>

  <form action="/flights/<%= flight.id %>?_method=DELETE" method="post">
    <button type="submit">DELETE</button>
  </form>
<% } else { %>
  <p>Flight not found...</p>
<% } %>

<a href="/flights/<%= flight.id %>/tickets/new"><button>Add a ticket</button></a>


<%- include('../partials/footer') %>
